{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
    <title>Muhammed's Blog</title>

    <style>
      .taskbar {
        background-color: rgb(230, 230, 230);
        font-size: large;
        font-weight: bold;
      }
    </style>
  </head>

  <body style=background-color:#ECFEFF>
    <div class="page-header">
      <h1><img src="{% static 'imgs/IMG-4012.JPG' %}" height="100px" /><a href=""> Contact Me</a></h1>
    </div>

    <div class="taskbar">
      <!-- <a href="/blog/templates/blog/post_list.html">Home</a>
      <a href="/blog/templates/blog/about.html">About</a>
      <a href="/blog/templates/blog/contact.html">Contact</a> -->
            <a href="{% url 'post_list' %}">Home</a>
            <a href="{% url 'webpage2' %}">About</a>
            <a href="{% url 'webpage3' %}">Contact</a>
    </div>

        <h2 style=color:rgb(105,101,101)>Feel free to email of whatsapp me at the following contacts:</h2>

        <br>
        
        <h4><a href="">Email: </a>mxs1387@student.bham.ac.uk</h4>
        
        <h4><a href="">Whatsapp: </a>+6011-1070-1846</h4>

    </form>
  </body>
</html>
