<html>
    <head>
        <title>My Blog</title>
    </head>

    <body>
        <div>
            <h1><a href="">Muhammed's Blog</a></h1>
        </div>
        
        {% for p in posts %}
            <div>
                <p>published: {{p.published_date}}</p>
                <h2><a href="">{{p.title}}</a></h2>
                <p>{{p.text|linebreaksbr}}</p>
            </div>
        {% endfor %}

        <!-- <div>
            <p>published: 26.5.2020, 10:38</p>
            <h2><a href="">My First Blog Post</a></h2>
            <p>This is my first blog post using Django and HTML. I am excited to learn how to further improve upon this blog and make it more aesthetically pleasing.</p>
        </div>> -->
    </body>
</html>