h1 {
  color:#428bca;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
a {
  color: #428bca;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  font-size: "1.5rem";
}
