html,
body {
  height: 100%;
  margin: 0;
}

.tempholder {
  display: flex;
  height: fit-content;
}

.ltemp {
  width: 20%;
  float: left;
}

.lcont {
  float: left;
  width: 95%;
  height: 100%;
  background-color: whitesmoke;
  text-align: center;
}

.main {
  width: 60%;
  height: 100%;
  float: left;
  background-color: rgb(219, 219, 219);
}

.rtemp {
  width: 20%;
  float: right;
}

.rtemp .rcont {
  width: 95%;
  height: 100%;
  float: right;
  background-color: whitesmoke;
  text-align: center;
}

/* body {
        font-family:Arial, Helvetica, sans-serif;
        color:black;
        background-image:url("{% 'imgs/dxb.jpg' %}");
        background-size:cover;
        background-attachment:fixed;
      } */

.profilepic {
  text-align: center;
  height: 120px;
  padding-top: 20px;
}
.ttl {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

.taskbar {
  text-align: center;
  background-color: whitesmoke;
  padding-top: 16px;
  padding-bottom: 16px;
}

.taskbar a {
  color: black;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.taskbar a:hover {
  background-color: #ddd;
  color: black;
}

.taskbar a.active {
  background-color: #dddddd;
}

.content_container {
  text-align: start;
  padding: 20px;
}

.post {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}
